news-stream-title {
    height: 255px;
    display: block;
}
#map-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

#map {
    height: 700px;
    width: 100%; 
    z-index: 0;
}

#map-data-wrapper {
    position: absolute;
    top: 0; 
    z-index: 1;
    width: 50%;
    left: 25%;
}

#map-data-wrapper-media {
    position: absolute;
    top: 0; 
    z-index: 1;
    width: 75%;
    left: 12.5%;
}

#map-data-wrapper .btn-custom {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

#map-data-wrapper .card-block {
    height: 260px;
}

#map-data-wrapper-media .card-block {
    height: 280px;
}

#map-data-wrapper .card-block > div,
#map-data-wrapper-media .card-block > div {
    height: 100%;
}

#map-data-wrapper-media media-list-map {
    display: block;
    height: 100%;
}